#menu {

    font-family: monospace;
}

h1 {
    color: brown;
    padding: 0%;
    text-align: center;
    background-color: bisque;
}

body {

    font-family: monospace;
}


.rosa {

    color: gray;
}

.itens {

    color: brown;
    font-family: monospace;
    font-weight: 500;
    font-size: 10%;
}

table {
    width: 50%;
    border-color: rgb(221, 143, 26);
    border-style: dashed;
}

td {
    border-color: rgb(122, 80, 17);
    border-style: solid;

}

.thead {
    font-style: italic;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: rgb(22, 18, 7);

}

tfoot {
    background-color: #972b2b79;
}