.nave {
    text-align: center;
    font-family: monospace;
}

#titulo {
    color: rgb(80, 34, 34);
    text-align: center;

}

body {
    font-family: monospace;
}

.esquerda {
    text-align: left;
    background-color: peachpuff;
    float: left;
    height: 600px;
    width: 20%;
}

.direita {
    text-align: left;
    background-color: peachpuff;
    float: left;
    height: 600px;
    width: 20%;

}

#conteiner {
    background-color: brown;
}

h3 {
    text-align: center;
}

main {
    width: 60%;
    height: 600px;
    background-color: rgb(168, 133, 103);
    text-align: justify;
    float: left;


}

.content {
    padding-left: 10px;
    padding-right: 10px;
}

nav {

    background-color: rgb(175, 83, 83);
    padding: 14px 16px;
}

nav a {
    color: rgb(31, 4, 4);
    padding: 14px 16px;
    text-decoration: none;

}

nav a:hover {
    background-color: antiquewhite;
    color: brown;
    font-weight: bold;
    border-radius: 0.2cm;
}

footer {
    float: left;
    width: 100%;
    background-color: rgb(175, 83, 83);
    text-align: center;
}